@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Olá TechEd 2011!</h1>
            <h2></h2>
        </hgroup>
        <p>
            Olhando o Async<br />
            <a href="http://www.lambda3.com.br">http://www.lambda3.com.br</a>
        </p>
    </div>
</section>
}
